<a href="https://colab.research.google.com/github/OfficialMehak/Python-Assignment/blob/main/Pyhton_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. L is a list defined as L= [11, 12, 13, 14].

(i)WAP to add 50 and 60 to L.

In [44]:
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

(ii)WAP to remove 11 and 13 from L.

In [45]:
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

(iii)WAP to sort L in ascending order.

In [47]:
L.sort(reverse=False)
print(L)

[12, 14, 50, 60]

(iv)WAP to sort L in descending order.

In [11]:
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

(v)WAP to search for 13 in L.

In [14]:
print(13 in L)

False

(vi)WAP to count the number of elements present in L.

In [17]:
print(len(L))

4

(vii)WAP to sum all the elements in L.

In [18]:
print("Sum of all elements in List L = ", sum(L))

Sum of all elements in List L =  136

(viii)WAP to sum all ODD numbers in L.

In [21]:
sum([num for num in L if num % 2 != 0])

0

(ix)WAP to sum all EVEN numbers in L.

In [23]:
sum (number for number in L if number % 2 == 0)

136

(x)WAP to sum all PRIME numbers in L.

In [35]:
sum(i for i in L if all(i % j for j in range(2, int(i**0.5) + 1)) and i > 1)

0

(xi)WAP to clear all the elements in L.

In [48]:
L.clear()
print(L)

[]

(xii)WAP to delete L.

In [49]:
del L